allow system_server adbroot_service:service_manager find;

add_service(system_server, applock_service);

# Use HALs
hal_client_domain(system_server, hal_lineage_fod)
hal_client_domain(system_server, hal_lineage_livedisplay)
